:root {
    --neutral-label: rgb(60, 60, 60);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,
main,
footer {
    max-width: 512px;
    width: 100%;
}

kbd {
    background-color: rgb(220, 220, 220);
    padding: 2px 4px;
}

header {
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(231, 231, 233);
    ;
}

#brand-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#task-bar-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--neutral-label);
}

#task-bar {
    padding: 8px;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-position: inside;
    /* padding: 0; */
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(231, 231, 233);
}

.task-item {
    word-break: break-all;
}