:root {
    --neutral-label: rgb(60, 60, 60);
    --kbd-bg: rgb(220, 220, 220);
    --error-hint: rgb(220, 20, 20);
    --divider-color: rgb(231, 231, 233);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    margin: 0;
}

main {
    flex-grow: 1;
}

header>*,
main>* {
    padding: 0 20px;
}

header,
main,
footer {
    max-width: 536px;
    width: 100%;
}

kbd {
    background-color: var(--kbd-bg);
    padding: 2px 4px;
}

#brand-container {
    display: flex;
    align-items: center;
    gap: 16px;
}


#rank-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

#task-bar-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--neutral-label);
    margin-bottom: 16px;
}

#task-bar {
    padding: 8px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
}

#task-bar[data-error='true'] {
    outline-color: var(--error-hint);
    border: 1px solid var(--error-hint);
}

#hint,
#task-error {
    margin: 0;
    color: var(--error-hint);
}

#task-list {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    list-style-position: inside;
    margin: 0;
    padding-bottom: 16px;
}

.task-item {
    word-break: break-all;
    padding: 20px 0;
    border-bottom: 1px solid var(--divider-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.task-item::before {
    content: '';
    background: #000000;
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

.task-item:last-child {
    border-bottom: none;
}

.task-content {
    flex: 1;
    margin: 0;
    font-size: 16px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#faq {
    text-wrap: pretty;
    color: var(--neutral-label);
}

#faq details {
    margin: 8px 0;
}

footer {
    background-color: var(--divider-color);
    color: var(--neutral-label);
    text-align: center;
}