:root {
    --neutral-label: rgb(60, 60, 60);
    --kbd-bg: rgb(220, 220, 220);
    --error-hint: rgb(220, 20, 20);
    --divider-color: rgb(231, 231, 233);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,
main,
footer {
    max-width: 512px;
    width: 100%;
}

kbd {
    background-color: var(--kbd-bg);
    padding: 2px 4px;
}

header {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--divider-color);
}

#brand-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#task-bar-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--neutral-label);
}

#task-bar {
    padding: 8px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
}

#hint {
    visibility: hidden;
    margin: 0;
    color: var(--error-hint);
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-position: inside;
    /* padding: 0; */
    padding-bottom: 16px;
    border-bottom: 2px solid var(--divider-color);
}

.task-item {
    word-break: break-all;
}